
.header{
   background-color: #f88c111f;

}

.nav{
   display: flex;
   justify-content: space-between;
  
}

.mylogo {
   position: relative;
   left: 6%;
   font-size: 30px;
   font-weight: 600;
   margin-top: 7px;

}


.mymanu{
   width: 40%;
   position: relative;
   right: 10%;

}

.mymanu ul {
   display: flex;
   margin: 5px 0px;
}
.mymanu ul li {
   padding:3px 20px 3px 20px;
   list-style: none;
   font-size: 18px;
   font-weight: 550;
}


.mid-part {

   width: 70%;
   margin: 5% auto;
   text-align: center;
   margin-top:10px;

}

.mybatton{
   background-color: #ff8b07;
   border: none;
   color: #FFFF;
   padding: 2% 2.8%;
   border-radius: 5px;

}

.mid-part-title {
   padding-top: 10px; font-size: 48px; 
}

.mid-partp {
   font-size: 20px;
   padding: 5px 0px;
   color: #020202;

}


.font-pic {
   width: 80%;
   margin: 3% auto;
}

.font-pic img {
   width: 100%;
   height: 400px;


}

.first_part-{
   width: 76%;
   margin: 10px auto;
   display: flex;
   column-gap: 5%;
   align-items: center;
}
.first_part-img img {
   width: 90%;
   height: 90%;

}

.section-img {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 0.5%;
   row-gap: 0.5%;
}



.first-title {
   align-items: center;
}


.sec-peragraph {
   padding:5px 0px;
   font-size: 15px;
   color: #111010;
}



.first_part-2{
   width: 85%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10%;
}

.my-title {
   padding-left: 5%;
}

.my-peragraph {
   padding-left: 5%;
   font-size: 1em;
   padding-bottom: 5%;
   padding-top: 5%;
   color: #727272;
}

.dibba {
   display: grid;
   grid-template-columns: 1fr;
   gap: 5%;

}

.boxes {
   background-color: #FFFF;
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
   padding: 5% 5%;
   border-radius: 8px;
}

.boxesdis {
   font-size: 1em;
   color: #727272;
}

.img-div img {
   width: 96%;

}

.batton22 {
   text-align: center;
   background-color: #ffa33b;
   border: none;
   color: #FFFF;
   padding: 1.5% 2.8%;
   border-radius: 8px;
   position: relative;
   left: 50%;
   bottom: 60px;

}

.batton2 {
   font-weight: 680;
}



.section-3 {
   margin: 0 auto;
   width: 80%;
   margin-top: 5%;

}
.section-3-dibba {
   border: 1px solid #e07904;
   width: 20%;
   height: 200px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition:transform 1s,background-colo 1s

}
.section-3-ti {
   width: 45%;
}



.section-3-container {
   display: flex;
   justify-content: space-evenly;
   margin-top: 10px;
}

.section-3-dibba img {
   width: 50px;
}

.section-3-price {
   font-size:18px;
   margin: 3% 0%;
}

.section-3-pera {
   font-size:18px;
   color: #727272;

}


.sponsors-section {
   width: 80%;
   margin: 0 auto;
}

.sponsors-box1 {
   width: 50%;
   margin: 0% auto;
   text-align: center;

}

.sponsors-pera {
   margin: 4% 0%;
   font-size: 0.9em;
   color: #757575;
}

.sponsors-box2 {
   display: flex;
   justify-content: space-around;
   margin: 5% 0%;
}


.sponsors-image {
   width: 20%;
}

.sponsors-image img {
   width: 80%;
}

.sespart {
   

   background-color: #f79f3b;
 

}

.sesdis {
   text-align: center;
   font-size: 18px;
   color: #000000;
   padding:20px 0;
}






